.togowl-button-div {
  padding: 5px;
}

.ebutton {
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: 0.4s;
  cursor: pointer;
}

.ebutton:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.ebutton-start {
  color: dodgerblue;
}

.ebutton-pause {
  color: tomato;
}

.ebutton-interrupt {
  color: blueviolet;
}

.ebutton-done {
  color: mediumseagreen;
}

.ebutton-delete {
  color: goldenrod;
}

.todoist-item {
  margin: 10px;
  cursor: pointer;
}

.todoist-item:hover {
  color: orangered;
  font-size: 105%;
  font-weight: bolder;
}

.joypixels {
  width: 16px;
}
