.togowl-button-div {
  padding: 5px;
}

.ebutton {
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: 0.4s;
  cursor: pointer;
}

.ebutton:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.ebutton-start {
  color: dodgerblue;
}

.ebutton-pause {
  color: tomato;
}

.ebutton-interrupt {
  color: blueviolet;
}

.ebutton-done {
  color: mediumseagreen;
}

.ebutton-delete {
  color: goldenrod;
}

.todoist-item {
  margin: 10px;
  cursor: pointer;
}

.todoist-item:hover {
  color: gold;
  font-weight: bolder;
}

.joypixels {
  width: 16px;
}

.todoist-sync-token-clear-button-div {
  text-align: center;
  text-size: 90%;
  color: antiquewhite;
  padding: 5px 0;
}

.todoist-sync-token-clear-button {
  cursor: pointer;
}

.todoist-sync-token-clear-button:hover {
  color: violet;
  font-weight: bolder;
}
